In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    np.random.rand(100, 2),
    columns=['lat', 'lon']
)
df

         lat       lon
0   0.390224  0.507745
1   0.965063  0.371847
2   0.306045  0.131280
3   0.803894  0.560427
4   0.358286  0.075914
..       ...       ...
95  0.658983  0.036465
96  0.688543  0.490752
97  0.549725  0.994985
98  0.526253  0.540404
99  0.691498  0.722003

[100 rows x 2 columns]

In [5]:
range(1, 11)

range(1, 11)

In [6]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]